<%= render 'static_pages/home/galleryimg', categories: @categories, prefix: nil %>
<%= render 'static_pages/home/howwework' %>
<%= render 'static_pages/home/othersproj' %>
<%= render 'static_pages/home/info' %>