<div class="kitchens">
  <div class="container">
    <div class="row">
      <ul class="list-group">
        <li class="list-group-item l"><%= link_to "ГЛАВНАЯ", root_path %></li>
        <li class="list-group-item l"><%= link_to "ГОСТИНЫЕ", root_path %></li>
        <li class="list-group-item"><%= link_to "ДЕТСКИЕ", root_path %></li>
      </ul>

      <div class="col-md-3 p-for-bar">
        <div class="sidebar">
          <ul>
            <li><%= link_to "ПЛЕНОЧНЫЙ МДФ", root_path %></li>
            <li><%= link_to "КРАШЕНЫЙ МДФ", root_path %></li>
            <li><%= link_to "ПЛАСТИКОВЫЕ", root_path %></li>
            <li><%= link_to "МДФ РАМОЧНЫЙ", root_path %></li>
            <li><%= link_to "СТЕКЛО В АЛЮМ.ПРОФИЛЕ", root_path %></li>
            <li><%= link_to "ФОТОФАСАДЫ", root_path %></li>
          </ul>

          <div class="news">
            <%= image_tag("fasad-news.png", :alt => "ivm logo") %>
          </div>
        </div>
      </div>
      <div class="col-md-9 content-kitchens">


      </div>
    </div>
  </div>
</div>



<div class="bd-example-3">
  <div class="modal fade" id="mdf-modal" tabindex="-1" role="dialog" aria-labelledby="mdf-modal-ModalLabel-2" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content mdf-modal">
        <div class="modal-body">
          <button type="button" class="close close-pos" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><%= image_tag('close-img.png', class: "close-button") %></span>
          </button>
          <div class="col-md-8">
            <div id="owl-mdf" class="owl-carousel owl-theme">
              <div class="item">
                <%= image_tag("our-works-1.png", :alt => "ivm") %>
              </div>

              <div class="item">
                <%= image_tag("our-works-1.png", :alt => "ivm") %>
              </div>

              <div class="item">
                <%= image_tag("our-works-1.png", :alt => "ivm") %>
              </div>

              <div class="item">
                <%= image_tag("our-works-1.png", :alt => "ivm") %>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <h1 class="main-title">КРАШЕНЫЙ МДФ</h1>

            <div class="col-md-6 col-sm-6">
              <%= image_tag("k-1.png", :alt => "ivm") %>
            </div>

            <div class="col-md-6 col-sm-6">
              <%= image_tag("k-1.png", :alt => "ivm") %>
            </div>

            <div class="col-md-6 col-sm-6">
              <%= image_tag("k-1.png", :alt => "ivm") %>
            </div>

            <div class="col-md-6 col-sm-6">
              <%= image_tag("k-1.png", :alt => "ivm") %>
            </div>
            <div class="col-md-12 text">
              Чтобы узнать цену комплектации кухни
              по вашим размерам и предпочтениям
              Вы можете отправить заявку на расчет или
              заказать обратный звонок,
              и мы вам перезвоним!
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
