<%= content_for :breadcrumbs do %>
  <ul class="list-group">
    <li class="list-group-item l"><%= link_to "ГЛАВНАЯ", root_path %></li>
    <li class="list-group-item"><%= link_to "НАШИ РАБОТЫ", ourworks_path %></li>
  </ul>
<% end %>

<div class="ourworks">
  <div class="container">
    <div class="row">

      <div class="col-slider-wrapper">
        <div class="form-slider">
          <div class="main-title">ОСТАВЬТЕ ЗАЯВКУ!</div>
          <div class="form">
            <div class="wrapper">
              <%= form_tag("", class: 'js-common-request', method: 'post') do %>
                <%= text_field_tag 'common[name]', nil, placeholder: 'Ваше имя', class: "name-user", :required => true %>
                <%= text_field_tag 'common[phone]', nil, placeholder: 'Номер телефона', pattern:'[+]\d{2}[(]\d{3}[)]\s\d{3}\s\d{2}\s\d{2}', class: "phone-user", :required => true %>
                <%= text_field_tag 'common[message]', nil, placeholder: 'Сообщения', class: "mess-user" %>
                <%= submit_tag("Отправить заявку", class: "btn-send-app-user") %>
              <% end %>
            </div>
          </div>
        </div>

        <div id="slick-ourworks" class="owl-theme" style="overflow: hidden;">
          <% 4.times do %>
            <div class="item-test" style="background-image: url(<%= asset_path('our-works-1.png') %>)"></div>
          <% end %>
        </div>


        <div class="text-center">МЫ ОБЛАДАЕМ БОЛЬШИМ ОПЫТОМ В ПРОЕКТИРОВАНИИ И ПРОИЗВОДСТВЕ МЕБЕЛИ! </div>
      </div>

      <div class="col-md-12 tabs-block">
        <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
          <ul id="myTab" class="nav nav-tabs nav-tabs-responsive" role="tablist">
            <!--tab for all portfolios-->
            <li role="presentation" class="<%= 'active' if @show_project == 0 %>">
              <a href="#project-example-all" id="0-tab" role="tab" data-toggle="tab" aria-controls="0" aria-expanded="true">
                <span class="text">ВСЕ</span>
              </a>
            </li>
            <!--tabs for each category where at least one portfolio present-->
            <% @portfolios.map(&:category).uniq.each do |category| %>
              <li role="presentation" class="<%= 'active' if category.id == @show_project %>">
                <a href="#project-example-<%= category.id %>" id="0-tab" role="tab" data-toggle="tab" aria-controls="0" aria-expanded="true">
                  <span class="text"><%= category.title %></span>
                </a>
              </li>
            <% end %>
          </ul>

          <div id="myTabContent" class="tab-content">
            <!--tab content for all portfolios-->
            <div role="tabpanel" class="tab-pane fade in <%= 'active' if @show_project == 0 %>" id="project-example-all" aria-labelledby="0-tab">
              <% @portfolios.each do |portfolio| %>
                <div class="col-md-5ths each-element col-xs-4" data-toggle="modal-with-slider" data-target="<%= portfolio.id%>">
                  <%= image_tag portfolio.images.first.image_url(:medium_fill), alt: "ivm logo", class: 'background'  %>
                  <div class="image-text">
                    <%= image_tag "zoom.png", alt: "ivm logo", class: 'zoom'  %>
                    <span class="title"><%= portfolio.title %></span>
                  </div>
                </div>
              <% end %>
            </div>
            <!--tabs content for each category where at least one portfolio present-->
            <% portfolios = [] %>
            <% @portfolios.map(&:category).uniq.each do |category| %>
            <div role="tabpanel" class="tab-pane fade in <%= 'active' if category.id == @show_project %>" id="project-example-<%= category.id %>" aria-labelledby="0-tab">
              <% category.subcategories.map(&:portfolios).reject(&:empty?).flatten!.each do |portfolio| %>
                <% portfolios << portfolio %>
                <div class="col-md-5ths each-element col-xs-4" data-toggle="modal-with-slider" data-target="<%= portfolio.id%>">
                  <%= image_tag portfolio.images.first.image_url(:medium_fill), alt: "ivm logo", class: 'background'  %>
                  <div class="image-text">
                    <%= image_tag "zoom.png", alt: "ivm logo", class: 'zoom'  %>
                    <span class="title"><%= portfolio.title %></span>
                  </div>
                </div>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% portfolios.each_with_index do |portfolio, i| %>
  <%= render 'partials/item_modal', item: portfolio, item_index: i, max_index: portfolios.count - 1 %>
<% end %>

<%= render 'subcategories/item_modals' %>
