<div class="bd-example-2 callback-modal">
  <div class="modal fade" id="callback-from-modal" tabindex="-1" role="dialog" aria-labelledby="send-mail-ModalLabel-3" aria-hidden="true">
    <div class="modal-dialog"  role="document">
      <div class="modal-content form-for-app">
        <div class="modal-header">
          <div class="main-title" style="width:274px;">ЗАКАЗ ОБРАТНОГО ЗВОНКА</div>
          <button type="button" class="close close-callback close-pos" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><%= image_tag('close-img.png', class: "close-button") %></span>
          </button>
        </div>
        <div class="modal-body">
          <%= form_tag("", class: 'js-request-callback-from-project', method: "get") do %>
              <%= hidden_field_tag 'callback[project_id]', nil, id: 'project-id-for-callback' %>
              <%= text_field_tag 'callback[name]', nil, placeholder: 'Ваше имя', class: "name-user", :required => true %>
              <%= text_field_tag 'callback[phone]', nil, placeholder: 'Номер телефона', pattern:'[+]\d{2}[(]\d{3}[)]\s\d{3}\s\d{2}\s\d{2}', class: "phone-user", :required => true %>
              <%= submit_tag("Перезвоните мне", class: "btn-send-app-user") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bd-example-2 callback-modal">
  <div class="modal fade" id="send-application" tabindex="-1" role="dialog" aria-labelledby="send-application" aria-hidden="true">
    <div class="modal-dialog"  role="document">
      <div class="modal-content form-for-app">
        <div class="modal-header">
          <div class="main-title" style="width: 100%;">ЗАЯВКА НА УЧАСТИЕ В АКЦИИ</div>
          <button type="button" class="close close-callback close-pos" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><%= image_tag('close-img.png', class: "close-button") %></span>
          </button>
        </div>
        <div class="modal-body">
          <%= form_tag('', class: 'js-send-application', method: 'get') do %>
              <%= text_field_tag 'application[name]', nil, placeholder: 'Ваше имя', class: "name-user", :required => true %>
              <%= text_field_tag 'application[phone]', nil, placeholder: 'Номер телефона', pattern:'[+]\d{2}[(]\d{3}[)]\s\d{3}\s\d{2}\s\d{2}', class: "phone-user", :required => true %>
              <%= submit_tag("Перезвоните мне", class: "btn-send-app-user") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bd-example callback-modal">
  <div class="modal fade" id="send-request-from-modal" tabindex="-1" role="dialog" aria-labelledby="send-request" aria-hidden="true">
    <div class="modal-dialog"  role="document">
      <div class="modal-content form-for-req">
        <div class="modal-header">
          <button type="button" class="close close-request close-pos" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><%= image_tag('close-img.png', class: "close-button") %></span>
          </button>
        </div>
        <div class="modal-body">
          <button type="button" class="notif-1"  data-toggle="modal" data-target="#request-metering-from-modal">Заявка на просчет</button>
          <button type="button" class="notif-2"  data-toggle="modal" data-target="#request-calculation-from-modal">Заявка на замер</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bd-example callback-modal">
  <div class="modal fade" id="request-metering-from-modal" tabindex="-1" role="dialog" aria-labelledby="send-mail-ModalLabel" aria-hidden="true">
    <div class="modal-dialog"  role="document">
      <div class="modal-content form-for-app">
        <div class="modal-header">
          <div class="main-title">ЗАЯВКА НА ПРОСЧЕТ</div>
          <button type="button" class="close close-size-req close-pos" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><%= image_tag('close-img.png', class: "close-button") %></span>
          </button>
        </div>
        <div class="modal-body">
          <%= form_tag("", class: 'js-request-metering-from-project', method: 'post', multipart: true) do %>
              <%= hidden_field_tag 'metering[project_id]', nil, id: 'project-id-for-metering' %>
              <%= text_field_tag 'metering[name]', nil, placeholder: 'Представтесь', class: "name-user", :required => true %>
              <%= text_field_tag 'metering[phone]', nil, placeholder: 'Номер телефона', pattern:'[+]\d{2}[(]\d{3}[)]\s\d{3}\s\d{2}\s\d{2}',class: "phone-user", :required => true %>
              <%= text_field_tag 'metering[email]', nil, placeholder: 'E-mail', class: "email-user", :required => true %>
              <%= text_field_tag 'metering[message]', nil, placeholder: 'Дополнительная информация', class: "mess-user" %>
              <%= file_field_tag 'metering[file]', class: "hidden" %>
              <button type="button" class="btn-send-add-file" onclick="$(this).prev().click()">Фото кухни с размерами...</button>
              <%= submit_tag("Отправить заявку", class: "btn-send-app-user") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bd-example callback-modal">
  <div class="modal fade" id="request-calculation-from-modal" tabindex="-1" role="dialog" aria-labelledby="send-mail-ModalLabel" aria-hidden="true">
    <div class="modal-dialog"  role="document">
      <div class="modal-content form-for-app">
        <div class="modal-header">
          <div class="main-title">ЗАЯВКА НА ЗАМЕР</div>
          <button type="button" class="close close-size-req close-pos" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><%= image_tag('close-img.png', class: "close-button") %></span>
          </button>
        </div>
        <div class="modal-body">
          <%= form_tag("", class: 'js-request-calculation-from-project', method: 'post', multipart: true) do %>
              <%= hidden_field_tag 'calculation[project_id]', nil, id: 'project-id-for-calculation' %>
              <%= text_field_tag 'calculation[name]', nil, placeholder: 'Представтесь', class: "name-user", :required => true %>
              <%= text_field_tag 'calculation[phone]', nil, placeholder: 'Номер телефона', pattern:'[+]\d{2}[(]\d{3}[)]\s\d{3}\s\d{2}\s\d{2}',class: "phone-user", :required => true %>
              <%= text_field_tag 'calculation[address]', nil, placeholder: 'Адрес', class: "address-user", :required => true %>
              <%= text_field_tag 'calculation[message]', nil, placeholder: 'Дополнительная информация', class: "mess-user" %>
              <%= file_field_tag 'calculation[file]', class: "hidden" %>
              <%= submit_tag("Отправить заявку", class: "btn-send-app-user") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>