<%= content_for :breadcrumbs do %>
  <ul class="list-group">
    <li class="list-group-item l">
      <a href="/">ГЛАВНАЯ</a></li>
    <li class="list-group-item l">
      <a href="/<%= @subcategory.category.slug %>"><%= @subcategory.category.title %></a>
    </li>
    <li class="list-group-item">
      <a href="#"><%= @subcategory.title %></a>
    </li>
  </ul>
<% end %>

<div class="kitchens">
  <div class="container">
    <div class="row">
      <div class="col-md-3 sidebar">
        <ul>
          <%
            @subcategory.category.types.map do |t|
              t if t.furnitures.any? && t.furnitures.map(&:subcategory_id).include?(@subcategory.id)
            end.compact.each do |type|
          %>
            <li><%= link_to type.name, "#type-#{type.id}" %></li>
          <% end %>
        </ul>

        <% if @subcategory.category.promotion.present? %>
        <div class="promotion">
          <div class="promotion-bg" style="background-image: url(<%= @subcategory.category.promotion.image_url %>);">
            <div class="promotion-description"><%= @subcategory.category.promotion.description.html_safe %></div>
            <a href="" data-target="#send-application" data-toggle="modal">
              <span>Отправить заявку</span>
            </a>
          </div>
        </div>
        <% end %>
      </div>

      <div class="col-md-9 col-sm-12 content-kitchens">
        <% furnitures = [] %>
        <% @furnitures_by_type.each do |type, furnitures| %>
          <div id="type-<%= type.id%>" class="block">
            <p class="main-title" ><%= type.name %></p>
            <p class="description"><%= type.description %></p>
            <div class="row furnitures-row">
              <% furnitures.each do |fu| %>
                <div class="col-md-3 col-sm-6 col-xs-6 each-element" data-toggle="modal-with-slider" data-target="<%= fu.id %>">
                  <% if fu.images.any? %>
                    <%= image_tag(fu.images.first.image_url(:medium_fill), class: 'background') %>
                  <% end %>
                  <div class="image-text">
                    <%= image_tag "zoom.png", alt: "ivm logo", class: 'zoom'  %>
                    <span class="title"><%= fu.title %></span>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="line"></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="bd-example-3">
  <% @furnitures_by_type.values.flatten.each_with_index do |fu, index| %>
    <%= render 'partials/item_modal', item: fu, item_index: index, max_index: @furnitures_count  %>
  <% end %>
</div>

<%= render 'item_modals' %>
