<% flash.each do |status, messages| %>
  <% next if messages.blank? %>
  <% messages = [messages] if messages.class.to_s == 'String' %>
  <div class="alert alert-<%= status.to_s %>" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <%= messages.join('<br>').html_safe %>
  </div>
<% end %>