<div class="container-fluid alert alert-danger" style="margin-top: 20px; border: none; border-radius: 0;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center" style="margin: 20px 0;">На данный момент сайт находится на стадии доработки/наполнения.</h3>
      </div>
    </div>
  </div>
</div>
