<div class="row">
  <ul class="list-group col-md-3 js-catalog-menu">
    <% @all_categories.each do |cat| %>
      <li class="list-group-item js-menu-item <%= "develop" if cat.in_development %>"
          data-block="<%= cat.in_development ? "in-development" : cat.slug %>">
        <a href="/<%= cat.slug %>"><%= cat.title %></a>
      </li>
    <% end %>
  </ul>

  <div class="col-md-9 div-items">
    <% @all_categories.each do |cat| %>
      <div class="kitchen-links visible <%= cat.slug %>">
        <% cat.subcategories.each do |subcat| %>
          <div class="col-md-3 link-container">
            <div class="bg-image" style="background-image: url(<%= subcat.image_url.present? ? subcat.image_url(:small) : asset_path("1.png") %>)"></div>

            <a href="<%= "/#{cat.slug}/#{subcat.slug}" %>" class="more">
              <span><%= subcat.title %></span>
            </a>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="kitchen-links in-development">
      <p>РАЗДЕЛ В РАЗРАБОТКЕ</p>
    </div>
  </div>
</div>