<div class="footer">
  <div class="container">
    <div class="row">
      <!-- social -->
      <div class="social">
        <p class="soc">
          індивідуальне
          виробництво
          меблів
        </p>

        <div class="social-ico-menu">
          <a href="#"><%= fa_icon "facebook" %></a>
          <a href="#"><%= fa_icon "vk" %></a>
          <a href="#"><%= fa_icon "twitter" %></a>
          <a href="#"><%= fa_icon "google" %></a>
        </div>
      </div>
      
      <!-- contanct -->
      <div class="contact">
        <span class="ico"></span>
        <p class="ico-text"><%= editable :kyivstar, '096(548) 38-81' %></p>
        <p class="text"><%= editable :lifecell, '093(607) 28-24' %></p>
        <p class="text"><%= editable :vodafone, '066(466) 28-01' %></p>
        <span class="ico ico-mail"></span>
        <p class="ico-text"><%= editable :ivm_email, 'office@ivm.com.ua' %></p>
      </div>

      <!-- address -->
      <div class="address">
        <span class="ico ico-dot"></span>
        <p class="ico-text adr"><%= editable :ivm_address, 'м. Київ, вул. Новоконстантинівська, 1В' %></p>
        <div class="pad">
          <span class="ico ico-taime"></span>
          <p class="ico-text"><%= editable :time_schedule_1, 'Графік роботи: з 09.00 до 20.00' %></p>
          <p class="text"><%= editable :time_schedule_2, 'Без вихідних' %></p>
        </div>
      </div>

      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6038.765340843853!2d30.4926729538119!3d50.47856592664192!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cde1e8987bf9%3A0x253d220a11013d3e!2zSVZNINGW0L3QtNC40LLRltC00YPQsNC70YzQvdC1INCy0LjQs9C-0YLQvtCy0LvQtdC90L3RjyDQvNC10LHQu9GW0LI!5e0!3m2!1sru!2sua!4v1500897309218"
                width="100%" height="240" frameborder="0" style="border:0" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</div>
