<div class="header">
  <div class="container">
    <div class="row main-row">
      <div class="col-md-3 col-sm-5 col-xs-5 brand-logo-block">
        <a href="/" class="logo-link">
          <%= image_tag 'ivm-img.png',  alt: 'logo ivm', class: 'logo'%>
        </a>
      </div>
      <div class="hamburger-wrapp">
        <div class="hamburger__crossSpin hamburger">
          <span></span>
      </div>
      </div>
      <div class ="menu">
        <div class="logo-block">
          <a href="/" class="logo-link">
            <%= image_tag 'ivm-img.png',  alt: 'logo ivm', class: 'logo'%>
          </a>
        </div>
        <nav>
          <!--mobile menu-->
          <ul>
            <li><%= link_to "КАТАЛОГ МЕБЕЛИ", root_path %></li>
            <li><%= link_to "НАШИ РАБОТЫ", ourworks_path %></li>
            <li><%= link_to "ОТЗЫВЫ", reviews_path %></li>
            <li><%= link_to "О НАС", root_path %></li>
            <li><%= link_to "КОНТАКТЫ", root_path %></li>
          </ul>
        </nav>
      </div>
      <div class="col-md-6 col-sm-3 col-xs-3">
        <div class="row top-contact">
          <div class="col-md-3 visible-lg visible-md">
            <%= image_tag("email.png", :alt => "ivm logo", class: "email-ivm") %>
            <span class="data-info"><%= editable :ivm_email, 'office@ivm.com.ua', nowrap: true %></span>
          </div>
          <div class="col-md-3 col-sm-12">
            <%= image_tag("kyivstar.png", :alt => "ivm logo", class: "kyivstar-ivm") %>
            <span class="data-info"><%= editable :kyivstar, '096(548) 38-81', nowrap: true %></span>
          </div>
          <div class="col-md-3 col-sm-12">
            <%= image_tag("lifecell.png", :alt => "ivm logo", class: "lifecell-ivm") %>
            <span class="data-info"><%= editable :lifecell, '093(607) 28-24', nowrap: true %></span>
          </div>
          <div class="col-md-3 col-sm-12">
            <%= image_tag("mts.png", :alt => "ivm logo", class: "mts-ivm") %>
            <span class="data-info"><%= editable :vodafone, '066(466) 28-01', nowrap: true %></span>
          </div>
        </div>
        <div class="bottom-menu visible-md visible-lg">
          <ul class="nav navbar-nav" id="navbar">
            <li class="active">
              <a href="/" class="in_active_item"><%= image_tag("home-icon.png", :alt => "home icon") %></a>
            </li>
            <li><a href="#" id="catalog" data-toggle="dropdown" class="active-link">Каталог мебели</a>
              <ul class="dropdown-menu">
                <%= render 'partials/catalog_dropdown_new' %>
              </ul>
            </li>
            <li><%= link_to "Наши работы", ourworks_path, class: 'active-link' %></li>
            <li><%= link_to "Отзывы", reviews_path, class: 'active-link' %></li>
            <li><a href="#" class="active-link">О Нас</a></li>
            <li><a href="#" class="contact-width active-link">Контакты</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-4 top-btn">
        <button class="btn-send-app" data-toggle="modal" data-target="#send-request">
          <%= image_tag('btn-header-1.png') %>
          Отправить заявку
        </button>

        <button class="btn-send-call" data-toggle="modal" data-target="#request-callback">
          <%= image_tag('btn-header-2.png') %>
          Вам позвонить?
        </button>
      </div>
    </div>
    <div class="row">
      <div class="bottom-menu col-sm-12 visible-sm visible-xs">
        <ul class="nav navbar-nav" id="navbar">
          <li class="active">
            <a href="/" class="in_active_item"><%= image_tag("home-icon.png", :alt => "home icon") %></a>
          </li>
          <li><%= link_to "Каталог мебели", root_path, 'data-toggle' =>'dropdown', class: 'active-link' %>
            <ul class="dropdown-menu">
              <%= render 'partials/catalog_dropdown_new' %>
            </ul>
          </li>
          <li><%= link_to "Наши работы", ourworks_path, class: 'active-link' %></li>
          <li><%= link_to "Отзывы", root_path, class: 'active-link' %></li>
          <li><%= link_to "О Нас", root_path, class: 'active-link' %></li>
          <li><%= link_to "Контакты", root_path, class: "contact-width active-link" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="bd-example">
  <div class="modal fade" id="send-request" tabindex="-1" role="dialog" aria-labelledby="send-request" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content form-for-req">
        <div class="modal-header">
          <button type="button" class="close close-pos" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><%= image_tag('close-img.png', class: "close-button") %></span>
          </button>
        </div>
        <div class="modal-body">
          <button type="button" class="notif-1"  data-toggle="modal" data-target="#request-calculation">Заявка на просчет</button>
          <button type="button" class="notif-2"  data-toggle="modal" data-target="#request-metering">Заявка на замер</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bd-example">
  <div class="modal fade" id="request-metering" tabindex="-1" role="dialog" aria-labelledby="send-mail-ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content form-for-app">
        <div class="modal-header">
          <div class="main-title">ЗАЯВКА НА ЗАМЕР</div>
          <button type="button" class="close close-pos" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><%= image_tag('close-img.png', class: "close-button") %></span>
          </button>
        </div>
        <div class="modal-body">
          <%= form_tag("", class: 'js-request-calculation', method: 'post', multipart: true) do %>
              <%= text_field_tag 'calculation[name]', nil, placeholder: 'Представтесь', class: "name-user", :required => true %>
              <%= text_field_tag 'calculation[phone]', nil, placeholder: 'Номер телефона', pattern:'[+]\d{2}[(]\d{3}[)]\s\d{3}\s\d{2}\s\d{2}',class: "phone-user", :required => true %>
              <%= text_field_tag 'calculation[adress]', nil, placeholder: 'Адресс', class: "address-user", :required => true %>
              <%= text_field_tag 'calculation[message]', nil, placeholder: 'Дополнительная информация', class: "mess-user" %>
              <%= file_field_tag 'calculation[file]', class: "hidden" %>
              <%= submit_tag("Отправить заявку", class: "btn-send-app-user") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bd-example">
  <div class="modal fade" id="request-calculation" tabindex="-1" role="dialog" aria-labelledby="send-mail-ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content form-for-app">
        <div class="modal-header">
          <div class="main-title">ЗАЯВКА НА ПРОСЧЕТ</div>
          <button type="button" class="close close-pos" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><%= image_tag('close-img.png', class: "close-button") %></span>
          </button>
        </div>
        <div class="modal-body">
          <%= form_tag("", class: 'js-request-metering', method: 'post', multipart: true) do %>
              <%= text_field_tag 'metering[name]', nil, placeholder: 'Представтесь', class: "name-user", :required => true %>
              <%= text_field_tag 'metering[phone]', nil, placeholder: 'Номер телефона', pattern:'[+]\d{2}[(]\d{3}[)]\s\d{3}\s\d{2}\s\d{2}',class: "phone-user", :required => true %>
              <%= text_field_tag 'metering[email]', nil, placeholder: 'E-mail', class: "email-user", :required => true %>
              <%= text_field_tag 'metering[message]', nil, placeholder: 'Сообщения', class: "mess-user" %>
              <%= file_field_tag 'metering[file]', class: "hidden" %>
              <button type="button" class="btn-send-add-file" onclick="$(this).prev().click()">Фото кухни с размерами...</button>
              <%= submit_tag("Отправить заявку", class: "btn-send-app-user") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bd-example-2">
  <div class="modal fade" id="request-callback" tabindex="-1" role="dialog" aria-labelledby="send-mail-ModalLabel-2" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content form-for-app">
        <div class="modal-header">
          <div class="main-title" style="width:274px;">ЗАКАЗ ОБРАТНОГО ЗВОНКА</div>
          <button type="button" class="close close-pos" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><%= image_tag('close-img.png', class: "close-button") %></span>
          </button>
        </div>
        <div class="modal-body">
          <%= form_tag("", class: 'js-request-callback', method: 'post') do %>
              <%= text_field_tag 'callback[name]', nil, placeholder: 'Ваше имя', class: "name-user", :required => true %>
              <%= text_field_tag 'callback[phone]', nil, placeholder: 'Номер телефона', pattern:'[+]\d{2}[(]\d{3}[)]\s\d{3}\s\d{2}\s\d{2}', class: "phone-user", :required => true %>
              <%= submit_tag("Перезвоните мне", class: "btn-send-app-user") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#navbar > li').each(function () {if (this.getElementsByTagName("a")[0].href == location.href) this.className = "active_item";});
  $('.gallery-img-1 ~ a').on('click',function () {
    $('#catalog').className = "active_item"
  });
  $('#catalog').focus(function(){
    this.className = "unchangeable"
  })
</script>