<div class="modal" id="lightslider-modal-<%= item.id %>" tabindex="-1" role="dialog"
     aria-labelledby="lightslider-modal-ModalLabel" aria-hidden="true" data-index="<%= item_index %>">

  <div class="modal-dialog furniture-modal" role="document">
    <% if item_index - 1 >= 0  %>
      <div class="furniture-prev" data-modal-index="<%= item_index - 1 %>"></div>
    <% end %>
    <% if item_index + 1 <  max_index %>
      <div class="furniture-next" data-modal-index="<%= item_index + 1 %>"></div>
    <% end %>

    <div type="button" class="close close-pos" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true"><%= image_tag('close-img.png', class: "close-button") %></span>
    </div>
    <div class="modal-content mdf-modal">
      <div class="modal-body">
        <div class="col-md-8">
          <div class="js-slick-carousel">
            <% item.images.each do |img| %>
              <div class="item">
                <%= image_tag img.image_url, alt: "ivm" %>
              </div>
            <% end %>
          </div>
          <div class="col-md-12">
            <h1 class="main-title text-center"><%= item.title %></h1>
            <div class="text"><%= item.description.html_safe %></div>
          </div>
        </div>

        <div class="col-md-4">
          <% allow_scroll = item.images.count > 6 %>
          <button class="slimscroll-btn btn-up <%= 'btn-disabled' unless allow_scroll %>">
            <span class="fa fa-chevron-up"></span>
          </button>
          <div class="thumbs-carousel <%= 'js-thumbs-carousel' if allow_scroll %>">
            <% item.images.each_slice(2).with_index do |pair, index| %>
              <div class="col-md-12 no-padd pair-container">
                <% i = index * 2 %>
                <% pair.compact.each_with_index do |img, pair_i| %>
                  <% i = i + 1 if pair_i == 1 %>
                  <div class="col-md-6 col-sm-6 thumbnail-box js-jumpTo" data-jump-to="<%= i %>">
                    <%= image_tag img.image_url, alt: "ivm" %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
          <button class="slimscroll-btn btn-down <%= 'btn-disabled' unless allow_scroll %>">
            <span class="fa fa-chevron-down"></span>
          </button>
          <div class="col-md-12 buttons-padd">
            <%= link_to "Узнать цену", '#', class: 'btn-send-app-user text-center', data: { toggle: 'modal', target: '#send-request-from-modal'} %>
            <button class="btn-send-call" data-toggle="modal" data-target="#callback-from-modal">
              <%= image_tag('btn-header-2.png') %>
              Заказать
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>