<h4>Заявка <%= I18n.t('submit_types.' + @submit.submit_type.to_s) %></h4>
<br>
<br>
<p><strong>Iм'я:</strong> <%= @submit.name %></p>
<p><strong>Телефон:</strong> <%= @submit.phone %></p>
<br>
<p>Додаткова інформація:</p>

<% if @submit.file.present? %>
  <p><strong>Файл:</strong> <%= link_to @submit.file_url, @submit.file_url %></p>
<% end %>

<% @submit.data.each do |key, value| %>
  <% next unless value.present? %>
  <p><strong><%= I18n.t('submit_data.' + key.to_s).capitalize %>:</strong> <%= value %></p>
<% end %>

<%= link_to "Детальніше", admin_submit_url(@submit.id) %>
