@import "select2";
@import "jquery.xdan.datetimepicker";
//@import "../palette-color-picker";

.filter_range_select {
  input[type=number] {
    padding-right: 0px;
    width: 96px;
  }
  .separator {
    display: inline-block;
    text-align: center;
    width: 12px;
  }
}

.nested_select {
  .nested-select-container {
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0px;
    }
  }
}

.palette-color-picker-bubble {
  z-index: 10;
}

input[type=text] {
  &.date-time-picker {
    width: 110px;
  }
}

.select2-container {
  margin-bottom: 20px;
  width: 100% !important;
  .select2-chosen {
    font-size: 16px;
    margin-top: 3px;
  }
  .select2-choice {
    height: 34px;
    border-radius: 0;
    background-color: transparent;
    border: 1px solid #C9D0D6;
  }
}

.select2-drop {
  border-radius: 0;
  ul.select2-results {
    li.select2-result {
      div.select2-result-label {
        font-size: 15px !important;
      }
    }
    .select2-highlighted {
      background: #ef7600;
    }
  }
}

.select2-dropdown-open > .select2-choice {
  border: 1px solid #ef7600;
}

.select2-drop-active {
  border: 1px solid #ef7600;
  border-top: none;
}

.select2-container.select2-drop-above .select2-choice {
  border-radius: 0;
}

.select2-drop.select2-drop-above.select2-drop-active {
  border-top: 1px solid #ef7600;
}

.select2-drop.select2-drop-above {
  border-radius: 0;
}

.select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices {
  border: 1px solid #ef7600;
}

.select2-container .select2-choice .select2-arrow {
  border-radius: 0;
}