<%= stylesheet_link_tag "active_admin_multi_upload/jquery_upload" %>


<%  options = options ||= {}
    uploaded_ids_form_input_name = options[:uploaded_ids_form_input_name] ||= "#{resource.class.name.underscore}[#{association.singularize}_ids][]"
    existing_uploads = options[:existing_uploads] ||= resource.send(association.to_sym)
    input_id_prefix = options[:input_id_prefix] ||= "#{resource.class.name.underscore}_#{association.singularize}_ids_"
    post_url = options[:post_url] ||= "/admin/#{association}/create_upload"
    input_name = options[:input_name] ||= "#{association.singularize.underscore}[#{attribute}]"
    uploader_id = options[:uploader_name] ||= "#{association}_uploader"
 %>

<div id="<%= uploader_id %>" class="uploader">
  <% if @furniture.present? %>
    <%= hidden_field_tag 'furniture_id', @furniture.id %>
  <% end %>
  <% if @project_example.present? %>
    <%= hidden_field_tag 'project_example_id', @project_example.id %>
  <% end %>
  <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
  <div class="row fileupload-buttonbar">
    <div class="span7">
    <!-- The fileinput-button span is used to style the file input field as button -->
      <span class="btn btn-success fileinput-button">
        <i class="icon-plus icon-white"></i>
        <span>Add files...</span>
        <input id="fileupload_<%= uploader_id %>" type="file" name="<%= input_name %>" multiple>
      </span>
      <button type="reset" class="btn btn-warning cancel">
        <i class="icon-ban-circle icon-white"></i>
        <span>Cancel upload</span>
      </button>
      <button type="button" class="btn btn-danger delete">
        <i class="icon-trash icon-white"></i>
        <span>Delete</span>
      </button>
      <input type="checkbox" class="toggle">
    </div>
  </div>
  <!-- The loading indicator is shown during image processing -->
  <div class="fileupload-process"></div>
  <br>
  <!-- The table listing the files available for upload/download -->
  <table class="table table-striped"><tbody class="files" id="<%= uploader_id %>-files-container" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
</div>


<script>
  var fileUploadErrors = {
    maxFileSize: 'File is too big',
    minFileSize: 'File is too small',
    acceptFileTypes: 'Filetype not allowed',
    maxNumberOfFiles: 'Max number of files exceeded',
    uploadedBytes: 'Uploaded bytes exceed file size',
    emptyResult: 'Something went wrong. Please try again'
};
</script>

<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
      <td class="preview"><span class="fade"></span></td>
      <td class="name"><span>{%=file.name%}</span></td>
      <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
      {% if (file.error) { %}
        <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
      {% } else if (o.files.valid && !i) { %}
        <td>
          <div class="progress progress-striped active" role="progressbar" ><div class="progress-bar bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td class="start">{% if (!o.options.autoUpload) { %}
          <button class="btn btn-primary">
            <i class="icon-upload icon-white"></i>
            <span>{%=locale.fileupload.start%}</span>
          </button>
      {% } %}</td>
      {% } else { %}
        <td colspan="2"></td>
      {% } %}
      <td class="cancel">{% if (!i) { %}
        <button class="btn btn-warning">
          <i class="icon-ban-circle icon-white"></i>
          <span>{%=locale.fileupload.cancel%}</span>
        </button>
      {% } %}</td>
    </tr>
  {% } %}
</script>

<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
      {% if (file.error) { %}
        <td></td>
        <td class="url"><span>{%=file.url%}</span></td>
        <td class="name"><span>{%=file.name%}</span></td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
      {% } else { %}
        <td class="preview">{% if (file.thumbnail_url) { %}
          <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}">
            <img src="{%=file.url%}" width="200px">
          </a>
        {% } %}</td>
        <td class="name" id="upload_{%=file.id%}" data-id="{%=file.id%}">
          <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}
            <img src="{%=file.url%}" width="200px">
          </a>
        </td>
        <td class="url"><span>{%=file.url%}</span></td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        <td colspan="2"></td>
      {% } %}
      <td class="delete">
        <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
          <i class="icon-trash icon-white"></i>
          <span>{%=locale.fileupload.destroy%}</span>
        </button>
        <input type="checkbox" name="delete" value="1">
      </td>
    </tr>
  {% } %}
</script>


<script type="text/javascript" charset="utf-8">
  $(function () {
  // Initialize the jQuery File Upload widget:
    $("#<%= uploader_id %>").fileupload({
      url: "<%= post_url %>",
      autoUpload: true,
      formData: { },
      sequentialUploads: true,
      fileInput: $("#fileupload_<%= uploader_id %>"),
      filesContainer: "#<%= uploader_id %>-files-container"
    }).on('fileuploadcompleted', function(e, data) {
      insertUploadInputsFor<%= association.capitalize %>(data.result.files);
    }).bind('fileuploaddestroy', function(e, data) {
      removeUploadInputsFor<%= association.capitalize %>([data]);
    });
  });
</script>


<script type="text/javascript">

var insertUploadInputsFor<%= association.capitalize %> = function(files) {
  $.each(files, function(index, file) {
      var input = $("<input type='hidden' class='file-upload' name='<%= uploaded_ids_form_input_name %>' id='<%= input_id_prefix %>" + file.id + "' value='" + file.id + "' />");
      input.insertAfter($("#upload_" + file.id));
  });
};

var removeUploadInputsFor<%= association.capitalize %> = function(files) {
  $.each(files, function(index, file) {
    var id = file.url.split("/").pop();
    $("#<%= input_id_prefix %>" + id).remove();
  });
};

$(function () {
  var files = <%= existing_uploads.map(&:to_jq_upload).to_json.html_safe %>;
  var uploader = $("#<%= uploader_id %>").data("blueimpFileupload");
  var template = uploader._renderDownload(files)['appendTo'](uploader.options.filesContainer);
  uploader._transition(template);
  insertUploadInputsFor<%= association.capitalize %>(files);
});

</script>