//= require activeadmin_addons/all
// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "active_admin/mixins";
@import "active_admin/base";
@import "active_skin";
$skinActiveColor: #fba047;
$skinHeaderBck: #232323;
$panelHeaderBck: #232323;

#header ul.tabs > li {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

#header ul.tabs > li.current > a {
  background-color: #1E2A33;
}

#header ul.tabs > li > a {
  border-radius: 0;
  transition-duration: 0.2s;
}

.simple-input {
  background-color: transparent;
  border: 1px solid #C9D0D6 !important;
  border-radius: 0;
  font-family: "Source Sans Pro", sans-serif;
  padding: 3px 10px;
  width: calc(80% - 24px);
  font-size: 13px;
}

.simple-input:focus {
  border: 1px solid #99a2aa !important;
  outline-offset: 0;
  outline: 0;
  box-shadow: 0 0 4px #99a2aa;
}

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
