/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require sweetalert
 *= require animate
 *= require_tree ./plugins/
 *= stub active_admin
 *= require plugins/activeadmin_select
 */

 body {
   zoom: 80%;
 }

 .lighter-overlay {
   background: #000 !important;
   opacity: .5;
 }

 form > input:focus {
   outline: none;
   box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.15);
 }
