.min-menu {

  .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-top: 30px;
  }

  .list-group-item {
    display: inline-block;
    padding: 0;
    border: 0;
    margin-left: 8px;
    margin-bottom: 0;

    a {
      font-family: Arial;
      font-size: 13px;
      font-weight: 400;
      color: #a4a4a4;
      text-transform: uppercase;
    }
  }

  .l {
    &:after {
      content: '/';
      display: block;
      float: right;
      margin-left: 8px;
      font-weight: 400;
      color: #a4a4a4;
    }
  }

}
