//
//= require sweetalert
//

.editable {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0 !important;
  padding: 0px !important;
  border: 1px dashed rgba(0, 0, 0, 0.24);
  border-radius: 5px;

  a {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 7px 7px 3px;
    margin: -13px 0 0 -17px !important;
    background: #F44336;
    color: #fff !important;
    font-size: 16px !important;
    line-height: 16px !important;
    opacity: .0;
    transition: .3s opacity ease-out;
  }

  &:hover {
    border: 1px dashed #2196F3;

    a {
      opacity: 1;
      z-index: 5000;
    }

    // .editable-content {
    //   opacity: 0.8;
    // }

  }
}

img[data-editable-image] {
  cursor: pointer;
  border: 1px dashed red;
  transition: 0.3s;

  &.drop {
    -webkit-filter: drop-shadow(10px 10px 20px orange);
    -moz-filter: contrast(200%);
    filter: contrast(200%);
  }
}

*[data-editable-image] {
  cursor: pointer;
  transition: all 0.3s ease;

  // &:hover {
  //   opacity: 0.8;
  // }
}


.sweet-alert {
  width: 650px !important;
  margin-left: -325px !important;
}

.sweet-alert {
  @media only screen and (max-width: 540px) {
    left: 50%;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

#edit-text {
  font-size: 16px;
  width: 100%;
}
