.content {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .row  {
    margin-left: 0;
    margin-right: 0;
  }

  .col-md-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .gallery-img {
    width: 100%;
    display: block;
    background-size: cover !important;
    background-position: 50%, 50%;
    height: 262px;
    transition: .5s;
    cursor: pointer;
    overflow: hidden !important;

    &::after {
      content:'';
      top: 0;
      left: 0;
      //z-index: 10;
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      background: #000;
      opacity: 0.3;
      transition: .5s;
    }

    &:hover:after {
      content:'';
      top: 0;
      left: 0;
      //z-index: 10;
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      background: transparent;
      transition: .5s;
    }

    a {
      position: absolute;
      transform-style: preserve-3d;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      padding: 58px 100px;
      cursor: pointer;
      display: block;
      width: 100%;
      font-family: Arial;
      font-size: 34px;
      font-weight: 400;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      z-index: 100;
      text-shadow: 0 0 8px #000;
    }
  }
}
