.hamburger-wrapp {
  display: none;

  @media only screen and (max-width: 600px) {
    display: block;
  }
}

.hamburger {
  display: inline-block;
  //position: relative;
  width: 56px;
  height: 56px;
  cursor: pointer;
  background: #fba047;
  transition: transform 0.3s;
  //margin: 0 29px;
  margin-right: 5%;
  z-index: 1000;
  position: fixed;
  right: 0px;
  top: 25px;
}

.active__rotate {
  transform: rotate(90deg);
}

.hamburger span {
  display: block;
  position: absolute;
  top: 25px;
  left: 10px;
  right: 10px;
  height: 4px;
  background: #fff;
}

.hamburger span::before,
.hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  content: "";
  transition: transform 0.5s;
}

.hamburger span::before {
  top: -10px;
}

.hamburger span::after {
  bottom: -10px;
}



.active__crossSpin {
  span::before {
    transition: transform 1s;
    transform: rotate(405deg) translateY(-4px) translateX(-4px);
    top: 7px;
  }
  span {
    background: #fba047;
  }
  span::after {
    transition: transform 1s;
    transform: rotate(314deg) translateY(-4px) translateX(5px);
    bottom: -7px;
  }
}

.active__crossSpin {
  background: #fba047;
}
.menu {
  width:100%;
  height:350px;
  background:#fff;
  position:fixed;
  top:0px;
  right:0px;
  transition:0.5s;
  transform: translateX(100%);
}
.menu--active {
  transform: translateX(0px);
  z-index: 900;
}

.menu .logo-block {
  width: 90%;
  height: 65px;
  margin: 0 auto;
  position: relative;
}

.menu .logo-block .logo-link {
  position: absolute;
  top: 18px;
  left: 0;
}

nav  {
  ul {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    transform: translate(-50%);
    left: 50%;
    position: absolute;
    li {
      list-style:none;
      margin: 25px 0px;
      a {
        font-family: Arial;
        font-weight: 400;
        font-size: 15px;
        color: #393939;
        text-decoration:none;
        color:#111;
        position: relative;
        padding-left: 50px;
        &:hover {
          color: #393939;
          text-decoration: none;
          opacity: .8;
        }
      }
    }
    li:nth-child(1) a:before{
      background: image_url("catalog.png");
      content: '';
      display: block;
      position: absolute;
      top: -10px;
      height: 40px;
      width: 40px;
      background-repeat: no-repeat;
      background-size: contain;
    }
    li:nth-child(2) a:before{
      background: image_url("our_works.png");
      content: '';
      display: block;
      position: absolute;
      top: -10px;
      height: 40px;
      width: 40px;
      background-repeat: no-repeat;
      background-size: contain;
    }
    li:nth-child(3) a:before{
      background: image_url("reviews.png");
      content: '';
      display: block;
      position: absolute;
      top: -10px;
      height: 40px;
      width: 40px;
      background-repeat: no-repeat;
      background-size: contain;
    }
    li:nth-child(4) a:before{
      background: image_url("about_us.png");
      content: '';
      display: block;
      position: absolute;
      top: -10px;
      height: 40px;
      width: 40px;
      background-repeat: no-repeat;
      background-size: contain;
    }
    li:nth-child(5) a:before{
      background: image_url("contact.png");
      content: '';
      display: block;
      position: absolute;
      top: -10px;
      height: 40px;
      width: 40px;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}
