body {
  overflow-x: hidden;
}


.header {
  width: 100%;
  padding: 18px 0 0 0;
  background: #fff;

  &:after {
    height: 37px;
    display: block;
    width: 100%;
    background: #7d7d7d;
    content: '';
    margin-top: -41px;

    @-moz-document url-prefix() {
      margin-top: -61px !important;
    }

    @media only screen and (max-width: 1520px) {
      margin-top: -41.2px;
    }

    @media only screen and (max-width: 992px) {
      display: none;
    }
  }
  > .container {
    background: #fff;
    z-index: 1;
  }
  .brand-logo-block {
    height: 77px;
    background: rgba(255, 255, 255, 0);
    padding: 7px 0 0 15px;
    margin-bottom: 4px;
    margin-top: -5px;
    //max-width: 300px;

    @media only screen and (max-width: 600px) {
      float: left;
    }
  }
  @media only screen and (min-width: 1200px) {
    .brand-logo-block a {
      //margin-left: 10px;
    }
  }

  .logo-link {
    position: absolute;
    bottom: 0;
    padding: 0 10px;
    background-color: #fff;

    @media only screen and (max-width: 990px) {
      width: 300px;
      //margin: 0 auto;
      display: block;
    }
  }

  .logo {
    max-width: 300px;
    width: 100%;
    margin-top: 3px;

    @media only screen and (max-width: 990px) {
      width: 100%;
      height: auto;
      margin-top: 0;
    }
  }

  .logo-ivm {
    width: 45%;
    height: auto;
    position: relative;
    top: 19px;
    float: left;
  }

  .logo-text {
    float: right;
    width: 140px;
    color: #7d7d7d;
    font-family: Arial;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: -28px;
  }

  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .main-row {
    position: relative;
  }

  .top-btn {
    margin-top: -3px;
  }

  @media only screen and (max-width: 600px) {
    .top-btn {
      width: 100%;
    }
  }

  .top-contact {
    margin-bottom: 12px;
    margin-left: 0;

    @media only screen and (max-width: 992px) {
      margin-bottom: 0;
    }

    > div {
      padding-right: 0;
      padding-left: 0;
      text-align: center;

      @media only screen and (max-width: 992px) {
        text-align: left;
        padding-left: 10px;
        padding-bottom: 3px;
      }
    }

    .data-info {
      color: #7d7d7d;
      font-size: 13px;
      position: relative;
      top: 1px;

      @media only screen and (max-width: 1242px) {
        font-size: 12px;
      }
    }

    .col-sm-3 {
      @media only screen and (max-width: 767px) {
        margin-bottom: 10px;
      }
    }

    ul {
      margin-left: -25px;
      margin-bottom: 12px;

      @media only screen and (max-width: 1200px) {
        margin-bottom: 10px;
        text-align: center;
        margin-top: 10px;
      }
    }

    li {
      @media only screen and (max-width: 1200px) {
        margin-bottom: 5px;
      }
    }

    ul li {
      display: inline-block;
      margin-right: 6px;

      .data-info {
        font-family: 'Arial', sans-serif;
        color: #7d7d7d;
        font-size: 16px;
        font-weight: 400;

        @media only screen and (max-width: 1242px) {
          font-size: 12px;
        }

        @media only screen and (max-width: 768px) {
          font-size: 9px;
        }
      }
    }

    @media only screen and (max-width: 600px) {
      display: none;
    }
  }


  .nav .open > a:hover, .nav .open > a:focus {
    background-color: #9a9a9a !important;
    color: #fcc813 !important;
  }

  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #9a9a9a !important;
    color: #fcc813 !important;
  }


  .bottom-menu {
    .active_item {
      background-color: #9a9a9a !important;
    }

    .active_item > a {
      color: #fcc813 !important;
      img {
        position: relative;
        bottom: 2px;
      }
    }

    .navbar-nav > li > a.in_active_item {
      background-color: #7d7d7d !important;
      &:hover {
        background: #9a9a9a !important;
        transition: .5s;
      }
    }

    .navbar-nav > li > a.unchangeable {
      background-color: #7d7d7d !important;
      color: #FFFFFF !important;
      &:hover {
        background: #9a9a9a !important;
        transition: .5s;
      }
    }

    .active {
      img {
        position: relative;
        bottom: 2px;
      }
    }

    .active-link {
      transition: .5s;
      &:hover {
        background: #9a9a9a !important;
      }
    }
    .dropdown-menu {
      width: 931px;
      left: -40px;
      top: 28px;
      z-index: 9840;
      //margin-top: 5px;
      margin-top: 9px;
      border: 1px solid #bfbfbf;

      @media only screen and (max-width: 992px) {
        left: 0;
        width: 100%;
      }

      .list-group {padding-left: 15px}

      .div-items {
        padding-left: 0;
      }

      .list-group { margin-bottom: -5px; margin-top: -5px; }

      .kitchen-links {
        @media only screen and (max-width: 992px) {
          display: none !important;
        }
      }

      .list-group-item {
        border: 0;
        background: #a4a4a4;
        margin-top: 0;
        border-radius: 0;
        width: 203px;
        padding: 2px 10px 2px;
        text-transform: uppercase;

        a {
          display: block;
          width: 100%;
          color: #fff;
          font-family: Arial;
          font-size: 13px;
          font-weight: 400;
          line-height: 29px;
          text-decoration: none;
          cursor: pointer;
        }

        &:hover, &.active {
          background: #b1b1b1;
        }

        a:hover, &.active > a {
          color: #fcc813;
        }
      }

      .develop {
        a { color: #7d7d7d; }
        a:hover, &.active > a { color: #7d7d7d; }
        cursor: default;
      }

      .kitchen-links {
        display: none;
        &.visible {
          display: block;
        }

        p {
          color: #e5e5e5;
          font-family: Arial;
          font-size: 30px;
          font-weight: 400;
          line-height: 41px;
          position: absolute;
          top: 130px;
          transform: translate(50%);
        }
      }
      .kitchen-links, .gost-links {
        margin-top: 0;

        .link-container {
          height: 110px;
          width: 160px;
          overflow: hidden;
          cursor: pointer;
          margin: 10px 15px 10px 0;
          padding: 0;

          .bg-image {
            height: 110px;
            width: 160px;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            filter: grayscale(70%);
            opacity: .9;
            padding: 0;
            transition-duration: 0.3s;
          }

          &:hover {
            .bg-image {
              filter: grayscale(0%);
              opacity: 1;
            }
          }
        }

        .more {
          text-decoration: none;
          position: absolute;
          top: 0;
          text-align: center;
          display: block;
          text-transform: uppercase;
          font-family: Arial;
          color: #fff;
          font-weight: bold;
          font-size: 15px;
          text-shadow: 1px 1px 8px rgb(0,0,0);
          padding: 0 10px;
          width: 100%;
          height: 100%;
          line-height: 100px;

          span {
            vertical-align: middle;
            display: inline-block;
            line-height: normal;
          }
        }
      }
    }


    .navbar-nav {
      background: #7d7d7d !important;
      width: 100%;
      position: absolute;

      @media only screen and (max-width: 1200px) {
        float: none !important;
        position: static;
      }

      @media only screen and (max-width: 1080px) {
        width: auto;
        //margin: 0;
      }

      @media only screen and (max-width: 992px) {
        margin: 0;
      }

      .contact-width {
        width: 136px;
        position: absolute;
        overflow: hidden;
        text-align: center;

        @media only screen and (max-width: 1524px) {
          position: static;
        }

        @media only screen and (max-width: 776px) {
          width: auto;
        }
      }

      .active {
        position: relative;
        // bottom: 2px;
      }
    }

    .navbar-nav > li > a {
      height: 37px;
      padding: 8px 10px;

      font-family: Arial;
      font-size: 14px;
      font-weight: 400;
      color: #fff;
      text-transform: uppercase;

      @media only screen and (max-width: 1242px) {
        font-size: 12px;
      }

      &:hover, &:active{
        background: #989898;
        color: #fcc813;
        transition: .5s;
      }

      &:visited{
        background: #7d7d7d;
      }

      @media only screen and (max-width: 1080px) {
        font-size: 11px;
      }

      @media only screen and (max-width: 992px) {
        font-size: 12px;
      }

      @media only screen and (max-width: 990px) {
        text-align: center;
      }
    }

    @media only screen and (max-width: 600px) {
      display: none !important;
    }
  }

  .btn-send-app {
    &:hover {
      background: #7d7d7d;
    }
  }

  .btn-send-call {
    background: #fba047;

    img {
      position: relative;
      right: 4px;
    }
    &:hover {
      color: #ef7600;
      background: #fdd9b5;
    }
  }
}

.btn-send-app, .btn-send-call {
  width: 100%;
  background-color: #2a2a2a;
  outline: none;
  padding: 8px 0;
  border: 0;
  text-transform: uppercase;

  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  height: 37px;

  img {
    margin-right: 20px;
  }
}


//modal for send-app
.form-for-app {
  width: 557px;
  padding: 30px 0 30px;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.55);
  background: #fba047 !important;
  @media only screen and (max-width: 740px) {
    width: 96%;
  }
}

.modal-content {
  border: 0 !important;
  border-radius: 0 !important;
  margin: 0 auto;
  //@media only screen and (max-width: 740px) {
  //  width: 96%;
  //}

  .name-user,
  .phone-user,
  .mess-user,
  .email-user,
  .btn-send-app-user,
  .btn-send-add-file{
    display: block;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    color: #999;
    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
    padding: 5px 0 5px;
    margin-bottom: 15px;
  }

  .modal-body .phone-user {
    background-color: #ffffff !important;
  }

  span {
    z-index: 1 !important;
    top: 61px !important;
    left: 54px !important;
  }

  .btn-send-app-user {
    &:hover {
      background: rgba(255, 87, 34, 0.52)
    }
  }
  .name-user,
  .phone-user,
  .email-user,
  .mess-user { padding-left: 10px; resize: none; }
  .mess-user {
    padding: 0px 10px 147px;
  }
  .btn-send-app-user,
  .btn-send-add-file {
    background-color: #fa6327;
    border: 2px solid #f00000;
    color: #fff;
  }
  .btn-send-add-file {
    border: 1px solid #fff;
    background: transparent;
    &:focus {
      outline: none;
    }
    &:before {
      font-family: FontAwesome;
      content: "\f0c6";
      display: inline-block;
      transform: scale(-1, 1) rotate(226deg);
      font-size: 24px;
      line-height: 20px;
    }
  }
}
.modal-header {
  border-bottom: 0px !important;
  .main-title {
    font-family: Arial;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    width: 220px;
    margin: -12px auto -33px;
  }
  button {
    position: relative;
    bottom: 35px;
  }
  button.close {
    padding: 13px;
    position: relative;
    left: 15px;
    bottom: 30px;
    background: rgb(252, 188, 125);
    opacity: 1;
    outline: none;
  }
}
.modal-dialog {
  width: 557px ;
  height: 547px;
  margin: 0 auto;

  @media only screen and (max-width: 740px) {
    width: 92% !important;
  }
  form {
    width: 415px;
    margin: 0 auto;
    @media only screen and (max-width: 740px) {
      width: 80%;
    }
  }
}
