.form-for-req {
  width: 492px;
  height: 242px;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.55);
  background: #fba047 !important;
  margin: 0 auto;
  @media only screen and (max-width: 460px) {
    width: 96%;
  }

  button.close {
    padding: 13px;
    position: relative;
    left: 15px;
    bottom: 20px;
    background: rgb(252, 188, 125);
    opacity: 1;
  }

  .notif-1, .notif-2 {
    width: 315px;
    padding: 5px 0 5px;
    background: none;
    display: block;
    border: 2px solid white;
    color: white;
    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
    margin: 0 auto 15px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    outline: none;
    &:hover {
      background: #fcbc7d;
    }
  }
}


#send-mail-1 {
  .add {
    position: absolute;
    bottom: 75px;
    left: 80px
  }
  .btn-send-add-file {
    outline: none;
    text-align: left;
    padding-left: 30px;
  }
}
