 @import 'animate';
.howwework {
  margin-bottom: 30px;
  .container {
    background: url(asset_path('wework-bg.png')) no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 0 20px;

    @media only screen and (max-width: 460px) {
      margin: 0 auto;
      text-align: center;
    }
  }

  .left, .right { padding: 20px; }

  .main-title {
    font-family: Arial;
    font-size: 20px;
    font-weight: 400;
    color: #393939;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .send-title {
    width: 195px;
    margin-left: 150px;

    @media only screen and (max-width: 990px) {
      margin-left: 0;
      text-align: center;
      display: inline-block;
    }
  }

  .box {

    img {
      position: relative;
      top: 20px;
    }

    @media only screen and (max-width: 990px) {
      display: table;
    }

    @media only screen and (max-width: 525px) {
      margin: 0 auto;
    }

    .img-step {
      @media only screen and (max-width: 460px) {
        float: none !important;
        margin: 0 auto;
        display: block;
        position: initial;
      }
    }
    @media only screen and (max-width: 460px) {
      float: none !important;
      text-align: center;
      display: block;
    }
  }

  .right-box {
    width: 65%;
    margin-left: 60px;
    margin-bottom: 15px;

    @media only screen and (max-width: 760px) {
      float: left !important;
      width: 60%;
    }

    @media only screen and (max-width: 760px) {
      float: left !important;
      width: 60%;
    }

    @media only screen and (max-width: 460px) {
      float: none !important;
      width: 276px;
      margin: 0 auto;
    }

    .title, .post-title {
      font-family: Arial;
      font-weight: 400;
      font-size: 18px;
      color: #393939;
    }

    .post-title { margin-bottom: 4px; margin-top: 30px; }

    .text {
      font-family: Arial;
      font-size: 16px;
      line-height: 24px;
      color: #393939;
      margin: 0 0 0px !important;
    }
  }

  .form {
    width: 475px;
    padding: 40px 0 40px;
    background: #fba047;
    margin-top: 20px;
    float: right;

    @media only screen and (max-width: 1080px) {
      width: 75%;
    }

    @media only screen and (max-width: 760px) {
      width: 100%;
    }

    .wrapper { width: 85%; margin: 0 auto 0; }

    .name-user,
    .phone-user,
    .mess-user,
    .btn-send-app-user{
      display: block;
      width: 100%;
      border: 1px solid rgba(0, 0, 0, 0.15);
      color: #999;
      font-family: Arial;
      font-size: 18px;
      font-weight: 400;
      padding: 5px 0 5px;
      margin-bottom: 15px;
    }

    .phone-user {
      background-color: #FFFFFF !important;
    }

    span {
      z-index: 1 !important;
      top: 183px !important;
      left: 42px !important;
    }

    .btn-send-app-user {
      text-transform: uppercase;
      &:hover {
        background: rgba(255, 87, 34, 0.52)
      }
    }

    .name-user,
    .phone-user,
    .mess-user { padding-left: 10px; resize: none; }

    .mess-user {
      padding: 5px 10px 147px;
    }
    .btn-send-app-user,
    .btn-send-add-file {
      background-color: #fa6327;
      border: 2px solid #f00000;
      color: #fff;
    }

    .btn-send-add-file {
      border: 1px solid #fff;
      background: transparent;
    }

    @media only screen and (max-width: 1200px) {
      float: none !important;
      margin: 0 auto;
    }
  }
}
