.info {
  margin-top: 15px;

  .row {

    @media only screen and (max-width: 1200px) {
      padding: 20px;
    }
  }

  .main-title {
    color: #393939;
    font-family: Arial;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 30px;

  }

  .title {
    color: #393939;
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    text-align: justify;
    margin-bottom: 30px;
  }

  .row {
    @media only screen and (max-width: 720px) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
