$grey-border: rgba(0, 0, 0, 0.3);
$black-text:  rgb(51, 51, 51);

.kitchens {
  width: 100%;
  padding: 0 0 35px;
  background: #fff;

  .container {
    padding-left: 0;
    padding-right: 0;

    .row {
      margin-left: 0;
      margin-right: 0;
    }

    .sidebar {
      margin-bottom: 20px;
      padding: 0;
      width: 25%;
      max-width: 320px;
      display: inline-block;
      float: left;


      @media (max-width: 991px) {
        width: 100%;
        max-width: 100%;
      }

      @media (min-width: 992px) and (max-width: 1522px) {
        max-width: 300px;
      }

      ul {
        padding: 0;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.55);

        li {
          border-bottom: 1px solid #c8c8c8;
          background: #b1b1b1;
          transition: .5s;
          list-style-type: none;

          a {
            display: block;
            padding: 12px;
            font-family: Arial;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
          }

          &:hover {
            transition: .5s;
            background: #bfbfbf;
          }
        }
      }

      .promotion {
        max-height: 500px;

        .promotion-bg {
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: cover;
          height: 500px;
        }

        .promotion-description {
          padding: 10px;
          position: absolute;
          bottom: 0;
          margin: 0;
          background-color: rgba(0, 0, 0, 0.70);
          color: #fff;
          font-size: 25px;
          width: 100%;

          h1, h2, h3, h4, h5, h6, p { display: inline; }

          h1    { font-size: 220% }
          h2    { font-size: 200% }
          h3    { font-size: 160% }
          h4    { font-size: 140% }
          h5    { font-size: 120% }
          h6    { font-size: 100% }
          p     { font-size: 80%  }
          small { font-size: 60%  }
        }

        a {
          cursor: pointer;
          display: block;
          opacity: 0;
          transition-duration: 0.2s;
          position: relative;
          height: 100%;
          text-align: center;
          text-decoration: none;
          color: #ffffff;
          background-color: rgba(62, 62, 62, 0.9);
          font-size: 22px;

          span {
            position: relative;
            top: 46%;
            border: 3px solid #FD7933;
            padding: 10px 20px;
          }
        }

        &:hover {
          a {
            opacity: 1;
          }
        }

        @media all and (max-width: 991px) {
          max-height: 300px;

          .promotion-bg {
            height: 300px;
          }
        }
      }
    }


    .content-kitchens {
      float: right;

      @media only screen and (max-width: 990px) {
        padding-left: 0;
      }

      .block {
        margin-bottom:30px;
      }

      .main-title {
        min-width: 257px;
        padding: 12px 0 12px;
        text-align: center;
        background: #a4a4a4;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.55);
        margin-bottom: 30px;
        display: inline-block;

        font-family: Arial;
        font-weight: 400;
        color: white;
        font-size: 18px;
        text-transform: uppercase;
      }

      .description {
        font-family: Arial;
        font-weight: 400;
        color: #fff;
        color: #393939;
        font-size: 15px;
        text-align: justify;
        margin-bottom: 30px;
      }

      .furnitures-row {
        margin: 0px -5px;
      }

      .line {
        width: 100%;
        height: 1px;
        background-color: #7d7d7d;
        clear: both;
      }
    }
  }
}

.kitchens .modal-content {
  width: 93% !important;
  height: auto;

  img {
    width: 100%;
    height: auto;
  }
}

.modal-dialog {
  width: 1200px !important;
  height: auto;

  @media only screen and (max-width: 990px) {
    width: 100% !important;
  }

  div.close {
    background: transparent;
    opacity: 0.7;
    position: absolute;
    right: -40px;
    top: 0;
    z-index: 100000;
    transition-duration: .2s;

    &:hover, &:active {
      opacity: 1;
    }

    img.close-button {
      height: 24px;
    }
  }
}

.modal-body {
  overflow: hidden;
  padding: 0 !important;

  .buttons-padd {
    padding: 30px 0 15px 0;
  }

  .btn-send-app-user {
    text-align: center;
    text-transform: uppercase;
    &:hover {
      background-color: #FD7933;
      text-decoration: none;
    }
  }

  .btn-send-call {
    background: #fba047;
    font-size: 18px;
    padding: 5px 0;
    img {
      position: relative;
      right: 4px;
    }
    &:hover {
      color: #fba047;
      background: #fdd9b5;
    }
  }

  .col-md-8 {
    padding-left: 0;

    .main-title {
      font-family: Arial;
      font-size: 24px;
      font-weight: 400;
      color: #393939;
      margin-bottom: 25px;
      text-transform: uppercase;
    }

    .text {
      font-family: Arial;
      font-size: 16px;
      font-weight: 400;
      color: #707070;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }

  .col-md-4 {
    margin-top: 15px;
    padding-left: 5px;

    @media only screen and (max-width: 990px) {
      margin-top: 0;
    }

    .thumbs-carousel {
      border-left:  1px solid $grey-border;
      border-right: 1px solid $grey-border;
      overflow: auto;
      .pair-container {
        height: 136px;
      }
    }

    .slimscroll-btn {
      width: 100%;
      height: 32px;
      padding: 4px 0;
      color: $grey-border;
      background-color: transparent;
      border-left:  1px solid $grey-border;
      border-right: 1px solid $grey-border;
      transition-duration: .2s;
      display: block;
      &:focus {
        outline: none;
      }
    }

    .btn-up {
      &:hover {
        color: $black-text;
        box-shadow: inset 0px -8px 0px -7px $grey-border, inset 0 -7px 9px -7px rgba(0,0,0,0.4);
      }
      &:active {
        padding-bottom: 10px;
      }
      border-top:   1px solid $grey-border;
      border-bottom: inherit;
    }

    .btn-down {
      &:active {
        padding-top: 10px;
      }
      &:hover {
        color: $black-text;
        box-shadow: inset 0px 8px 0px -7px $grey-border, inset 0 7px 9px -7px rgba(0,0,0,0.4);
      }
      border-bottom:   1px solid $grey-border;
      border-top: inherit;
    }

    .btn-disabled {
      height: 1px;
      padding: 0;
      overflow: hidden;
      span {
        display: none;
      }
    }

    .thumbnail-box {
      &:first-child {
        float: left;
        margin-left: 6px;
      }
      &:nth-child(2n) {
        float: right;
        margin-right: 8px;
      }

      padding: 0;
      margin: 8px 0;
      height: 120px;
      width: 170px;
      display: flex;
      align-items: center;
      cursor: pointer;
      background-color: #F3F3F3;
      border: 1px solid rgba(0, 0, 0, 0.13);
      overflow: hidden;
      img {
        height: auto;
        display: block;
        margin: auto;
        max-height: 100%;
        max-width: 100%;
      }
    }
  }
}

.callback-modal {
  .modal {
    z-index: 1060;
    top: 0;
    background-color: rgba(0, 0, 0, 0.35);
  }
  .modal-dialog {
    top: 300px;
    .close-callback {
      top: -28px;
    }
    .close-request {
      bottom: 13px;
    }
    .close-size-req {
      bottom: 28px;
    }
  }
}

.btn-next, .btn-prev {
  cursor: pointer;
  position: absolute;
  top: calc(50% - 96px/2);
  z-index: 1;
  opacity: 0.7;
  transition-duration: 0.3s;
  width: 50px;
  font-size: 0;
  height: 96px;
  border-radius: 0;

  &:hover{
    opacity: 1;
  }
}

.btn-prev {
  left: 0;
  background: url(asset_path('left-btn.png')) no-repeat;
}

.btn-next {
  right: 0;
  background: url(asset_path('left-btn.png')) no-repeat;
  transform: rotate(180deg);
}

.furniture-modal {
  .furniture-prev,
  .furniture-next {
    cursor: pointer;
    position: absolute;
    top: 300px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 45px;
    transition-duration: .2s;

    &:hover {
      color: rgb(255, 255, 255);
    }
  }

  .furniture-prev {
    left: -45px;
    &:before {
      font-family: FontAwesome;
      content: '\f053';
    }
    &:active { left: -50px; }
  }
  .furniture-next {
    right: -45px;
    &:before {
      font-family: FontAwesome;
      content: '\f054';
    }
    &:active { right: -50px; }
  }
}