.modal {
  position: fixed;
  top: 130px;
  text-align: center;
  padding: 0!important;

  .item {
    height: 500px;
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    img {
      display: block;
      margin: auto;
      max-height: 100%;
      max-width: 100%;
    }
  }
}

.modal:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  margin: 0;
}

@media (max-width: 990px){
  .furniture-modal .close {
    left: auto !important;
    right: 20px !important;
    top: 10px !important;
    img {
      filter: invert(100%);
    }
  }
}