.othersproj {
  .line {
    width: 100%;
    background: #7d7d7d;
    margin-bottom: 30px;

    @media only screen and (max-width: 720px) {
      display: none;
    }

    .projects {
      font-family: Arial;
      font-size: 18px;
      font-weight: 400;
      color: white;
      text-transform: uppercase;
      padding: 15px 20px 12px;
      margin: 0;

      @media only screen and (max-width: 720px) {
        display: none;
      }
    }
  }

  #slick-demo{
    .circle-left {
      left: 3px
    }

    .circle-right {
      right: 2px
    }

    .item {
      position: relative;
      margin: 3px;
      width: 100%;
      display: flex;
      align-items: center;
      overflow: hidden;
      max-height: 220px;

      img {
        width: 100%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }

  span.date {
    position: absolute;
    color: #fff;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2px 4px;
    cursor: default;
  }

  .more {
    position: absolute;
    width: 100%;
    padding: 7px;
    background: rgba(0, 0, 0, 0.6);
    line-height: 28px;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    transition: .3s;
    z-index: 10;
    overflow: hidden;
    bottom: 0;
    outline: none;

    &:hover {
      color: #fcc813;
      transition: .3s;
      z-index: 100;
    }
  }

  .line-bg {
    width: 100%;
    height: 1px;
    margin-top: 30px;
    background-color: #7d7d7d;
  }
}
