.ourworks {
  width: 100%;
  padding: 0 0 35px;
  background: #fff;

  .container {
    padding-left: 0;
    padding-right: 0;

    .row {
      margin-left: 0;
      margin-right: 0;
    }

    .list-group-item {
      display: inline-block;
      padding: 0;
      border: 0;
      margin-left: 8px;
      margin-bottom: 0;

      a {
        font-family: Arial;
        font-size: 13px;
        font-weight: 400;
        color: #a4a4a4;
      }
    }

    .l {
      &:after {
        content: '/';
        display: block;
        float: right;
        margin-left: 8px;
        font-weight: 400;
        color: #a4a4a4;
      }
    }

    .col-slider-wrapper {
      .form-slider {
        position: absolute;
        z-index: 1000;
        margin-left: 30px;
        margin-top: 60px;

        .main-title {
          font-family: Arial;
          font-size: 20px;
          font-weight: 400;
          color: #fff;
          margin-top: -20px;
        }

        .form {
          width: 475px;
          padding: 40px 0 40px;
          background: #fba047;
          margin-top: 20px;
          float: right;

          .wrapper { width: 85%; margin: 0 auto 0; }

          .name-user,
          .phone-user,
          .mess-user,
          .btn-send-app-user{
            display: block;
            width: 100%;
            border: 1px solid rgba(0, 0, 0, 0.15);
            color: #999;
            font-family: Arial;
            font-size: 18px;
            font-weight: 400;
            padding: 5px 0 5px;
            margin-bottom: 15px;
          }

          .btn-send-app-user {
            &:hover {
              background: rgba(255, 87, 34, 0.52)
            }
          }

          .name-user,
          .phone-user,
          .mess-user { padding-left: 10px; resize: none; }

          .mess-user {
            padding: 5px 10px 105px;
          }
          .btn-send-app-user,
          .btn-send-add-file {
            background-color: #fa6327;
            border: 2px solid #f00000;
            color: #fff;
          }

          .btn-send-add-file {
            border: 1px solid #fff;
            background: transparent;
          }
        }

        @media only screen and (max-width: 750px) {
          display: none;
        }
      }

      #slick-ourworks .item-test {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 40px;
        height: 560px;
      }

      ul.slick-dots {
        list-style: none;
        position:   relative;
        float:  right;
        bottom: 35px;
        right:  15px;

        li {
          display: inline;
          button {
            font-size: 0;
            width: 18px;
            height: 18px;
            background: #ffffff;
            border-radius: 50%;
            transition: .2s;
            opacity: 0.7;
            margin-left: 15px;
            border: none;

            &:hover, &:focus {
              outline: none;
              opacity: 0.7;
              background-color: transparent;
              box-shadow: 0 0 0 2.5px #fba047;
            }
          }
        }

        li.slick-active > button {
          opacity: 1;
          background-color: transparent;
          box-shadow: 0 0 0 2.5px #fba047;
        }
      }

      .text-center {
        font-family: Arial;
        font-weight: 400;
        color: #393939;
        font-size: 22px;
      }
    }
    .tabs-block {
      margin-top: 40px;

      .bs-example {
        ul {
          padding: 0 5px;
        }
      }

      .text {
        font-size: 11px;
        color: #7d7d7d;
        font-family: Arial;
        font-weight: 400;
        text-transform: uppercase;
      }

      .presentation .active {
        border: 2px solid #fba047;
      }

      .nav-tabs > li > a { margin-right: 0; }

      .nav > li > a:hover, .nav > li > a:focus {
        background: transparent;
        border: 2px solid #eeeeee;
        border-radius: 0;
      }

      .nav-tabs { border-bottom: transparent; margin-bottom: 55px; }

      .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
        border: 2px solid #fba047;
        border-radius: 0;
      }
    }
  }
}

/* five columns layout */

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px;
}

.col-xs-5ths {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}

.each-element {
  margin: 0 0 30px;
  padding: 0 5px;
  position: relative;
  align-items: center;
  max-height: 200px;
  display: flex;
  cursor: pointer;
  overflow: hidden;

  img.background {
    max-width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .image-text {
    width: calc(100% - 10px);
    height: 100%;
    position: absolute;
    text-align: center;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;

    span.title{
      transition: all 0.3s ease-in-out;
      color: transparent;
      width: 100%;
      text-transform: uppercase;
      font-size: 24px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .zoom {
      width: 32px;
      height: 32px;
      position: absolute;
      bottom: 0;
      right: 0;
      cursor: pointer;
      transition: all 0.2s;
    }

    a {
      height: 100%;
      width: 100%;
      position: absolute;
    }

    &:hover {
      box-shadow: inset 0 0 0 3px #fba047;
      background: hsla(22, 100%, 50%, 0.48);

      span { color: #ffffff; }
      .zoom { bottom: -40px; }
    }
  }
}
