/* = New page =================================================
 *
 */

.review-form {
  overflow: auto;
  border: 1px solid rgba(0, 0, 0, 0.21);
  .form-header{
    font-size: 20px;
    margin-bottom: 30px;
  }
  label {
    line-height: 28px;
    font-weight: 300;
    font-size: 18px;
  }
  .avatar-label {
    display: inline-block;
    max-width: 100%;
  }
  .fa-paperclip {
    font-size: 25px;
    transform: scale(-1, 1) rotate(225deg);
    float: left;
  }
  .btn-attachment {
    outline: none;
    border-radius: 0;
    border-color: #c26100;
    background-color: #ef7600;
    color: #ffffff;
    transition-duration: .2s;
    &:hover {
      border-color: #ef7600;
      background-color: rgba(239, 118, 0, 0.81);
    }
  }
  .checkbox {
    display: inline;
    margin-left: 20px;
    label {
      input {
        margin-top: 7px;
        height: 16px;
        width: 17px;
      }
    }
  }
}

.simple-input {
  background-color: transparent;
  border: 1px solid #C9D0D6 !important;
  border-radius: 0;
  font-family: "Source Sans Pro", sans-serif;
  padding: 3px 10px;
  font-size: 13px;
}

.simple-input:focus {
  border: 1px solid #99a2aa !important;
  outline-offset: 0;
  outline: 0;
  box-shadow: 0 0 4px #99a2aa;
}

/* File button */

.file-btn {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-btn + .btn-attachment {
  min-width: 200px;
}

.file-btn + label {
  cursor: pointer;
}

.file-btn + label * {
  pointer-events: none;
}

.review-submit {
  text-align: right;
  .btn {
    border-radius: 0;
    transition-duration: .2s;
  }
}

/* = Index page ====================================================
 *
 */

.reviews-wrapper {
  background: url(asset_path('wework-bg.png')) no-repeat top center;
  background-size: cover;
  padding: 0;
}

.each-review {
  padding-top: 85px;
  overflow: auto;
  // !important to prevent `display: flex` from slickslider
  display: block !important;
  .review-avatar {
    margin-left: 70px;
    img {
      width: 100%;
      max-width: 225px;
    }
  }

  .review-name {
    font-size: 27px;
    font-weight: 900;
  }

  .review-description { font-size: 20px; }
  .review-thumbnails {
    padding: 40px 40px 20px;
    overflow: auto;
    // since images on screen with width < 500px becomes extra-small
    // we changes paddings
    @media screen and (max-width: 500px) {
      padding: 20px 0 20px;
    }
  }

  // small restyling of .each-element for this page
  .review-thumbnails > .each-element { padding: 0 25px; }
  .review-thumbnails > .each-element > .image-text {
    width: calc(100% - 50px);
  }
}

.new-review-block {
  padding-top: 20px;
  text-align: center;
  a {
    font-size: 20px;
    color: rgba(123, 123, 123, 0.8);

    &:hover, &:focus {
      color: rgb(123, 123, 123);
    }
  }
}


/* = Circle buttons for carousels ================================
 *
 */


$size: 50px;

.circle-left,
.circle-right {
  z-index: 100;
  cursor: pointer;
  position: absolute;
  top: calc(50% - 100px/2);
  //background: rgba(0, 0, 0, 0.2);
  background: rgba(49, 49, 66, 0.3);
  height: $size * 2;
  width: $size;
  transition-duration: .2s;

  &:before {
    font-size: 55px;
    top: 9px;
    color: rgba(255, 255, 255, 0.7);
    font-family: FontAwesome;
    position: relative;
    transition-duration: .2s;
  }

  &:hover {
    //background-color: rgba(0, 0, 0, 0.4);
    background: rgba(49, 49, 66, 0.6);
    &:before {
      color: rgba(255, 255, 255, 0.9);
    }
  }
}

.circle-left {
  left: 0;
  border-bottom-right-radius: $size * 2;
  border-top-right-radius: $size * 2;
  &:before {
    content: '\f0d9';
    left: 10px;
  }
}

.circle-right {
  right: 0;
  border-bottom-left-radius: $size * 2;
  border-top-left-radius: $size * 2;
  &:before {
    content: '\f0da';
    left: 20px;
  }
}

.no-margin {
  margin: 0;
}

.alert {
  font-size: 18px;
}
