.modal-body {
  .address-user {
    display: block;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    color: #999;
    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
    padding: 5px 10px 5px;
    margin-bottom: 15px;
    padding-bottom: 50px;
  }

  .mess-user {
    padding-bottom: 60px;
  }
}
