body.stop-scrolling {
  position: relative;
}

.sweet-alert {
  width: 560px !important;
  height: 225px;
  .sa-button-container{
    position: absolute;
    top: 0;
    right: 0;
  }
}

.sweet-alert, .request-calc {
  background: #fba047 !important;
  border-radius: 0 !important;

  h2 {
    margin-top: 40px;
    color: white;
    font-family: Arial;
    font-weight: 400;
    font-size: 18px;
  }
}

.sa-success {
  display: none !important;
}

.sweet-alert button {
  //padding: 20px;
  //background: #fcbc7d !important;
  //width: 100px !important;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  padding: 0 10px;
  border-radius: 0;
}
