<%= content_for :breadcrumbs do %>
  <ul class="list-group">
    <li class="list-group-item l">
      <a href="/">ГЛАВНАЯ</a>
    </li>
    <li class="list-group-item">
      <a href="#"><%= @category.title %></a>
    </li>
  </ul>
<% end %>

<%= render 'static_pages/home/galleryimg', categories: @category.subcategories, prefix: @category.slug %>
<%= render 'static_pages/home/howwework' %>
