<div class="container">
  <div class="row">
    <div class="col-md-12 reviews-wrapper">
      <div class="col-md-12" id="slick-review">
        <% @reviews.each do |review| %>
          <% review.images.blank? ? images = review.portfolio.images.map(&:image) : images = review.images %>
          <div class="each-review">
            <div class="col-md-2 col-sm-5 review-avatar no-padd">
              <% unless review.avatar.blank? %>
                <%= image_tag review.avatar_url(:thumb), alt: 'ivm-review', class: 'img-circle' %>
              <% end %>
            </div>
            <div class="col-md-2 col-sm-5 review-name">
              <p><%= review.name %></p>
            </div>
            <div class="col-md-7 col-sm-12 review-description">
              <p class="text-justify"><%= review.message %></p>
            </div>
            <div class="col-md-12 review-thumbnails">
              <% images.first(4).each do |img| %>
                <div class="col-md-3 col-sm-4 col-xs-6 each-element " data-toggle="modal-with-slider" data-target="<%= review.portfolio.id%>">
                  <%= image_tag img.url(:medium_fill), alt: "ivm logo", class: 'background'  %>
                  <div class="image-text">
                    <%= image_tag "zoom.png", alt: "ivm logo", class: 'zoom'  %>
                    <span class="title"></span>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 new-review-block">
      <%= link_to 'Оставить отзыв', new_review_path %>
    </div>
  </div>
</div>

<% @reviews.each do |review| %>
  <% review.images.blank? ? images = review.portfolio.images.map(&:image) : images = review.images %>
  <div class="modal fade" id="lightslider-modal-<%= review.portfolio.id %>" tabindex="-1" role="dialog" aria-labelledby="lightslider-modal-ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div type="button" class="close close-pos" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><%= image_tag('close-img.png', class: "close-button") %></span>
      </div>
      <div class="modal-content mdf-modal">
        <div class="modal-body">
          <div class="col-md-8">
            <div id="owl-mdf-<%= review.id %>" class="js-slick-carousel">
              <% images.each do |img| %>
                <div class="item">
                  <%= image_tag img.url, alt: "ivm" %>
                </div>
              <% end %>
            </div>
            <div class="col-md-12">
              <h1 class="main-title text-center"><%= review.portfolio.title %></h1>
              <div class="text"><%= review.portfolio.description.html_safe %></div>
            </div>
          </div>

          <div class="col-md-4">
            <% allow_scroll = images.count > 6 %>
            <button class="slimscroll-btn btn-up <%= 'btn-disabled' unless allow_scroll %>">
              <span class="fa fa-chevron-up"></span>
            </button>
            <div class="thumbs-carousel <%= 'js-thumbs-carousel' if allow_scroll %>">
              <% images.each_slice(2).with_index do |pair, index| %>
                <div class="col-md-12 no-padd pair-container">
                  <% i = index * 2 %>
                  <% pair.compact.each_with_index do |img, pair_i| %>
                    <% i = i + 1 if pair_i == 1 %>
                    <div class="col-md-6 col-sm-6 thumbnail-box js-jumpTo" data-jump-to="<%= i %>">
                      <%= image_tag img.url, alt: "ivm" %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
            <button class="slimscroll-btn btn-down <%= 'btn-disabled' unless allow_scroll %>">
              <span class="fa fa-chevron-down"></span>
            </button>
            <div class="col-md-12 buttons-padd">
              <%= link_to "Узнать цену", '#', class: 'btn-send-app-user text-center', data: { toggle: 'modal', target: '#send-request-from-modal'} %>
              <button class="btn-send-call" data-toggle="modal" data-target="#callback-from-modal">
                <%= image_tag('btn-header-2.png') %>
                Заказать
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render 'subcategories/item_modals' %>