<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= render 'partials/alert' %>
      <div class="review-form">
        <div class="col-md-12">
          <h4 class="form-header">Понравилась работа? Оставьте нам отзыв!</h4>
          <%= form_for @review do |f| %>
            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control simple-input' %>
            </div>
            <div class="form-group">
              <%= f.label :message %>
              <%= f.text_area :message, class: 'form-control simple-input', rows: 10 %>
            </div>
            <div class="form-group">
              <%= f.label :avatar, class: 'avatar-label' %><br>
              <%= f.file_field :avatar, id: 'user_avatar', class: 'file-btn js-file-btn' %>
              <label for="user_avatar" class="btn btn-attachment">
                <i class="fa fa-paperclip"></i>
                <span class="span-target" data-target-for="user_avatar">Выберите файл...</span>
              </label>
            </div>
            <div class="form-group no-margin">
              <%= label_tag 'Select furniture' %>
              <br>
              <input class="select2-ajax" data-fields="[&quot;title&quot;]" data-model="review" data-display_name="title" data-minimum_input_length="0" data-collection="null" id="review_category_id" data-url="/admin/categories" data-response_root="categories" data-selected="" name="review[category_id]" tabindex="-1">
              <br>
              <input class="select2-ajax" data-fields="[&quot;title&quot;]" data-model="review" data-display_name="title" data-minimum_input_length="0" data-collection="null" id="review_subcategory_id" data-url="/admin/subcategories" data-response_root="subcategories" data-selected="" data-parent="category_id" name="review[subcategory_id]">
              <br>
              <input class="select2-ajax" data-fields="[&quot;title&quot;]" data-model="review" data-display_name="title" data-minimum_input_length="0" data-collection="null" id="review_portfolio_id" data-url="/admin/portfolios" data-response_root="portfolios" data-selected="" data-parent="subcategory_id" name="review[portfolio_id]">
            </div>
            <div class="form-group">
              <%= f.label :images, class: 'avatar-label' %><br>
              <%= f.file_field :images, id: 'review_images', class: 'file-btn js-file-btn', multiple: true, data: { multiple_caption: '{count} выбранных файлов'} %>
              <label for="review_images" class="btn btn-attachment">
                <i class="fa fa-paperclip"></i>
                <span class="span-target" data-target-for="review_images">Выберите файлы...</span>
              </label>
              <div class="checkbox">
                <label>
                  <%= check_box_tag 'review[use_catalog?]' %>
                  Использовать фотографии из каталога. <small>(Ваши фотографии не попадут в отзыв)</small>
                </label>
              </div>
            </div>
            <div class="form-group review-submit">
              <%= f.submit 'Отправить отзыв', class: 'btn btn-lg btn-success' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>