<div class="content">
  <div class="container">
    <div class="row">
      <% categories.each do |cat| %>
        <div class="col-md-4 col-sm-6">
          <div class="gallery-img" style="background-image: url(<%= cat.image_url(:big_menu) %>);">
            <%= link_to cat.title, [prefix, cat.slug].join('/') %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
