<%# howwework block %>
<div class="howwework">
  <div class="container">
    <div class="col-md-7 left">
      <div class="row">
        <h1 class="main-title">Как мы работаем</h1>

        <div class="box">
          <%= image_tag("1-round.png", :alt => "ivm logo", class: "pull-left img-step wow") %>

          <div class="pull-left right-box wow">
            <h1 class="title">ЗАЯВКА / ЭСКИЗ</h1>
            <h1 class="post-title">ПРОФЕССИОНАЛЬНАЯ КОНСУЛЬТАЦИЯ!</h1>
            <p class="text">Наши менеджеры дадут ответ на все вопросы и подскажут как правильно обустроить мебель.</p>
          </div>
        </div>

        <div class="box">
          <%= image_tag("2-round.png", :alt => "ivm logo", class: "pull-left img-step wow") %>

          <div class="pull-left right-box wow">
            <h1 class="title">ЗАМЕР / ДОГОВОР</h1>
            <h1 class="post-title">МАКСИМАЛЬНО ВЫГОДНЫЕ УСЛОВИЯ!</h1>
            <p class="text">— автоматизированное производство;</p>
            <p class="text">— прозрачная схема просчета стоимости заказа.</p>
          </div>
        </div>

        <div class="box">
          <%= image_tag("3-round.png", :alt => "ivm logo", class: "pull-left img-step wow") %>

          <div class="pull-left right-box wow">
            <h1 class="title">ПРОИЗВОДСТВО</h1>
            <h1 class="post-title">ВЫСОКОЕ КАЧЕСТВО РАБОТЫ!</h1>
            <p class="text">— использование новейшего ОБОРУДОВАНИЯ;</p>
            <p class="text">— сертифицированные материалы от производителя;</p>
            <p class="text">— только профессиональные работники.</p>
          </div>
        </div>

        <div class="box bottom-box">
          <%= image_tag("4-round.png", :alt => "ivm logo", class: "pull-left img-step wow") %>

          <div class="pull-left right-box wow">
            <h1 class="title">ДОСТАВКА / УСТАНОВКА</h1>
            <p class="text">
              Как только мы выполним заказ, с Вами свяжется представитель и договориться о доставке.
              Мастера оперативно и качественно произведут монтаж в удобное время.
            </p>
          </div>
        </div>

      </div>
    </div>

    <div class="col-md-5 right">
      <div class="row">
        <h1 class="main-title send-title">ОСТАВЬТЕ ЗАЯВКУ!</h1>
        <div class="form">
          <div class="wrapper">
            <%= form_tag('', class: 'js-common-request', method: 'post') do %>
              <%= text_field_tag 'common[name]', nil, placeholder: 'Ваше имя', class: "name-user", :required => true %>
              <%= text_field_tag 'common[phone]', nil, placeholder: 'Номер телефона', pattern:'[+]\d{2}[(]\d{3}[)]\s\d{3}\s\d{2}\s\d{2}', class: "phone-user", :required => true %>
              <%= text_field_tag 'common[message]', nil, placeholder: 'Сообщение', class: "mess-user" %>
              <%= submit_tag("Отправить заявку", class: "btn-send-app-user") %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<%# howwework block end %>
