<div class="info">
  <div class="container">
    <div class="row">
      <div class="blog">
        <h1 class="main-title"><%= editable(:home_main_title) do %>Мебель на заказ<%end%></h1>

        <p class="title">
          <%= editable(:home_title) do %>
          Наша компания создана для того, чтобы наполнить Ваше жилище комфортом и уютом. Прямое направление нашей деятельности – изготовление эксклюзивной мебели на заказ в Киеве. Мы гарантируем, что
          корпусная мебель под заказ, сделанная у нас, будет максимально соответствовать Вашим желаниям и потребностям, иметь изысканный превосходный внешний вид и отличное качество. К тому же, стоимость
          мебели под заказ в Киеве Вас приятно удивит и порадует.
          <% end %>
        </p>

        <p class="title">
          <%= editable(:home_title) do %>
          Несмотря на то, что Киев является огромным городом, подобрать в нём подходящую мебель не всегда бывает просто. Однако, мы угодим любому требовательному клиенту, даже с самыми искушенными взглядами. Ведь мебель под заказ призвана для того, чтобы дарить  уют, радость и гармонию не только Вам, но и Вашим гостям. У нас Вы найдёте всё, что можно придумать – от классической корпусной мебели под заказ,
          любимой и привычной для солидного поколения, до экспериментов современных молодых дизайнеров. Мы можем изготовить мебель на заказ в Киеве по Вашему личному эскизу или предложим решения, которые
          Вы захотите воплотить в жизнь. Выбирайте любые материалы, формы, размеры, цвет, фурнитуру, дизайн, планировку, элементы декора… Практические советы высококвалифицированных сотрудников нашей
          компании, помогут Вам подобрать максимально эргономичную и комфортную мебель под заказ в Киеве, которая идеально сольется с интерьером, размерами и атмосферой помещения. Мы  воплотим в реальность Вашу мечту!
          <% end %>
        </p>
      </div>

      <div class="blog">
        <h1 class="main-title"><%= editable(:home_main_title) do %>КОРПУСНАЯ МЕБЕЛЬ ПОД ЗАКАЗ В КИЕВЕ<%end%></h1>

        <p class="title">
          <%= editable(:home_title) do %>
          Корпусная мебель под заказ – это всегда оригинальная, экологически чистая мебель высокого качества. Изготовление мебели на заказ в Киеве – это оптимальный, удобный и практичный вариант, в котором могут
          сочетаться самые невообразимые материалы и аксессуары: стекло, алюминий, МДФ, ДСП, дерево, пластик и т.д. Другими словами, корпусная мебель под заказ открывает неограниченные возможности для
          творчества: начиная с дизайнерского проекта и заканчивая Вашими собственными дополнениями. Образ, который у Вас сформирован в мыслях – будет идеально смотреться в Вашем доме. Сделайте его
          неповторимым, подчеркнув свою индивидуальность и сохраняя семейные традиции.
          <% end %>
        </p>

        <p class="title">
          <%= editable(:home_title) do %>
          Мебель под заказ в Киеве – это уникальное решение, которое будет способствовать Вашему дальнейшему вдохновению. Почувствуйтесь творцом собственного мира, а  рутину любой сложности мы возьмём на себя! При изготовлении мебели на заказ в Киеве, мы применяем новейшие технические достижения и современную технику.  Поэтому, предлагаем Вам воспользоваться богатым опытом профессионалов, идеальными
          дизайнерскими решениями, прочными современными материалами и отменным качеством изготовленной мебели на заказ в Киеве. Наслаждайтесь надёжностью, красотой и долговечностью корпусной мебели,
          сделанной под заказ в нашей компании!
          <% end %>
        </p>
      </div>

      <div class="blog">
        <h1 class="main-title"></h1><%= editable(:home_main_title) do %>
          ИЗГОТОВЛЕНИЕ МЕБЕЛИ НА ЗАКАЗ
        <%end%>
        </h1>

        <p class="title">
          <%= editable(:home_title) do %>
          Если вы хотите действительно оригинально обставить квартиру или дом, рекомендуем заказать изготовление мебели на заказ, Киев — город, в котором работает множество дизайнеров-мебельщиков, но если вас
          интересуют запросы в поисковых системах, как «мебель на заказ киев недорого» или «корпусная мебель на заказ киев», имеет смысл обратится именно в наш интернет-магазин.
          <% end %>
        </p>

        <p class="title">
          <%= editable(:home_title) do %>
          Что мы предлагаем? У нас доступны шкафы-купе (по готовому проекту) за полторы тысячи гривен и кухни (также, по готовому проекту), за две тысячи гривен. И это — отличная корпусная мебель на заказ, Киев
          может предложить массу дизайнерских решений. Это могут быть варианты, начиная от изящного минимализма или решений в футуристическом стиле хай-тек. Однако, самой популярной является современная
          классика, как эталон практичности и эстетичности. По запросу «мебель на заказ киев недорого» или «изготовление мебели на заказ киев», чаще всего, заказывают именно такую мебель. Однако, вы совершенно
          не ограничены и можете предлагать нашим мастерам любые, даже самые смелые, решения.
          <% end %>

        </p>
        <p class="title">
          <%= editable(:home_title) do %>
          Сотрудники нашей компании желают гармонии, уюта и добра в Вашем доме! А наша компания поможет Вам достичь этого!
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
