<div class="othersproj">
  <div class="container">
    <div class="row">
      <div class="line">
        <h1 class="projects">Последние проекты</h1>
      </div>

      <div id="slick-demo">
        <% @last_projects_images.each do |slider_img| %>
          <div class="item">
            <%= image_tag(slider_img.image.url(:medium_fill), alt: "ivm logo", class: "img-proj") %>
            <span class="date"><%= slider_img.project.creation_date %></span>
            <%= link_to "Смотреть подробнее", ourworks_path(peid: slider_img.project.category.id), class: 'more' %>
          </div>
        <% end %>
      </div>
      <div class="line-bg"></div>
    </div>
  </div>
</div>
