<!DOCTYPE html>
<html>
<head>
  <title>IVM мебель</title>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'icon.png' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= render 'partials/header_new' %>
  <%= render 'partials/banner' %>
  <div class="min-menu">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= content_for(:breadcrumbs) %>
        </div>
      </div>
    </div>
  </div>
  <%= yield %>
  <%= render 'partials/footer' %>
</body>
</html>
